.u-section-1 {
  background-image: url("images/inicio-topo-seu-site-online.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 702px;
}

.u-section-1 .u-image-1 {
  width: 110px;
  height: 118px;
  margin: 210px auto 0;
}

.u-section-1 .u-text-1 {
  font-weight: 300;
  margin: 30px auto 0;
}

.u-section-1 .u-text-2 {
  width: 651px;
  margin: 20px auto 161px;
}

@media (max-width: 1199px) {
  .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 579px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 443px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 332px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 209px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 253px;
}

.u-section-2 .u-text-1 {
  width: 869px;
  margin: 85px auto 0;
}

.u-section-2 .u-text-2 {
  width: 869px;
  margin: 20px auto -23px;
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    width: 720px;
  }

  .u-section-2 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: 340px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 730px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 30px;
  margin-bottom: 20px;
}

.u-section-3 .u-image-1 {
  min-height: 680px;
  background-image: url("images/2589fbd4-3398-da4f-a87e-60e08564aa6e.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding: 50px;
}

.u-section-3 .u-text-1 {
  letter-spacing: 2px;
  font-size: 2.1875rem;
  line-height: 1;
  font-weight: 400;
  font-family: Montserrat, sans-serif;
  margin: 137px 0 0;
}

.u-section-3 .u-text-2 {
  background-image: none;
  font-size: 1.25rem;
  font-weight: 600;
  margin: 31px 0 0;
}

.u-section-3 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 4px;
  background-image: none;
  border-style: solid;
  margin: 31px auto 0 0;
  padding: 14px 59px 15px 58px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 680px;
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

.u-section-3 .u-image-2 {
  width: 568px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 611px;
  }

  .u-section-3 .u-image-1 {
    min-height: 561px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 31px;
    padding-left: 30px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.8125rem;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 561px;
  }

  .u-section-3 .u-image-2 {
    width: 405px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 480px;
  }

  .u-section-3 .u-image-1 {
    min-height: 430px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.1875rem;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.125rem;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 493px;
  }

  .u-section-3 .u-image-2 {
    width: 319px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1117px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: -87px;
    margin-bottom: -87px;
  }

  .u-section-3 .u-image-1 {
    min-height: 513px;
  }

  .u-section-3 .u-container-layout-1 {
    padding: 30px 50px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.8125rem;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 495px;
  }

  .u-section-3 .u-image-2 {
    width: 440px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 859px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: -124px;
    margin-bottom: -124px;
  }

  .u-section-3 .u-image-1 {
    min-height: 323px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 312px;
  }

  .u-section-3 .u-image-2 {
    width: 304px;
  }
}.u-section-4 {
  background-image: none;
  min-height: 1093px;
}

.u-section-4 .u-shape-1 {
  height: 374px;
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-4 .u-image-1 {
  width: 820px;
  height: 662px;
  object-position: 23.33% 41.98%;
  background-position: 100% 41.98%;
  margin: -724px calc(((100% - 1140px) / 2)) 0 auto;
}

.u-section-4 .u-group-1 {
  width: 699px;
  min-height: 298px;
  background-image: none;
  margin: -760px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-4 .u-container-layout-1 {
  padding: 40px 30px;
}

.u-section-4 .u-text-1 {
  font-size: 4.0625rem;
  font-weight: 700;
  margin: 29px 0 0;
}

.u-section-4 .u-list-1 {
  width: 1060px;
  margin: 289px auto -387px calc(((100% - 1140px) / 2));
}

.u-section-4 .u-repeater-1 {
  grid-auto-columns: calc(25% - 7.5px);
  grid-template-columns: repeat(4, calc(25% - 7.5px));
  min-height: 346px;
  grid-gap: 10px;
}

.u-section-4 .u-list-item-1 {
  background-image: none;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 20px;
}

.u-section-4 .u-icon-1 {
  height: 78px;
  width: 78px;
  background-image: none;
  margin: 0 auto;
}

.u-section-4 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px 5px 0 2px;
}

.u-section-4 .u-text-3 {
  margin: 20px 6px 0 3px;
}

.u-section-4 .u-list-item-2 {
  background-image: none;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 20px;
}

.u-section-4 .u-icon-2 {
  height: 78px;
  width: 78px;
  background-image: none;
  margin: 0 auto;
}

.u-section-4 .u-text-4 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px 5px 0 2px;
}

.u-section-4 .u-text-5 {
  margin: 20px 6px 0 3px;
}

.u-section-4 .u-list-item-3 {
  background-image: none;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px 20px;
}

.u-section-4 .u-icon-3 {
  height: 78px;
  width: 78px;
  background-image: none;
  margin: 0 auto;
}

.u-section-4 .u-text-6 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px 5px 0 2px;
}

.u-section-4 .u-text-7 {
  margin: 20px 6px 0 3px;
}

.u-section-4 .u-list-item-4 {
  background-image: none;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px 20px;
}

.u-section-4 .u-icon-4 {
  height: 78px;
  width: 78px;
  background-image: none;
  margin: 0 auto;
}

.u-section-4 .u-text-8 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px 5px 0 2px;
}

.u-section-4 .u-text-9 {
  margin: 20px 6px 0 3px;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 {
    min-height: 1074px;
  }

  .u-section-4 .u-image-1 {
    width: 797px;
    height: 605px;
    margin-top: -667px;
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-4 .u-group-1 {
    width: 587px;
    min-height: 266px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-4 .u-text-1 {
    font-size: 3.4375rem;
  }

  .u-section-4 .u-list-1 {
    width: 940px;
    margin-top: 321px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-4 .u-repeater-1 {
    min-height: 307px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 {
    min-height: 1297px;
  }

  .u-section-4 .u-shape-1 {
    height: 529px;
  }

  .u-section-4 .u-image-1 {
    width: 651px;
    height: 547px;
    margin-top: -821px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-4 .u-group-1 {
    width: 407px;
    min-height: 270px;
    margin-top: -679px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.8125rem;
  }

  .u-section-4 .u-list-1 {
    width: 666px;
    margin-top: 294px;
    margin-bottom: -365px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 592px;
  }
}

@media (max-width: 767px) {
  .u-section-4 {
    min-height: 1388px;
  }

  .u-section-4 .u-shape-1 {
    height: 673px;
  }

  .u-section-4 .u-image-1 {
    width: 503px;
    height: 445px;
    margin-top: -934px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-4 .u-group-1 {
    width: 358px;
    margin-top: -668px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-list-1 {
    width: 540px;
    margin-top: 354px;
    margin-left: auto;
    margin-bottom: -424px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 644px;
  }
}

@media (max-width: 575px) {
  .u-section-4 {
    min-height: 1803px;
  }

  .u-section-4 .u-shape-1 {
    height: 1208px;
    margin-top: 48px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 301px;
    margin-top: -1367px;
    margin-right: auto;
  }

  .u-section-4 .u-group-1 {
    width: 340px;
    min-height: 203px;
    margin-top: -524px;
    margin-left: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 23px;
    padding-right: 20px;
    padding-bottom: 23px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 0;
  }

  .u-section-4 .u-list-1 {
    width: 286px;
    margin-top: 267px;
    margin-bottom: -335px;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
    min-height: 1238px;
  }
}.u-section-5 {
  min-height: 1155px;
  background-image: url("images/chamada-fundo-01.jpg");
}

.u-section-5 .u-text-1 {
  font-size: 2.1875rem;
  background-image: none;
  letter-spacing: normal;
  text-transform: none;
  font-weight: normal;
  margin: 62px 80px 0;
}

.u-section-5 .u-text-2 {
  margin: 29px 239px 0;
}

.u-section-5 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}

.u-section-5 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-style: solid;
  margin: 29px auto 0;
}

.u-section-5 .u-image-1 {
  height: 689px;
  object-position: 100% 67.46%;
  margin-top: 206px;
  margin-bottom: 0;
}

.u-section-5 .u-list-1 {
  grid-template-rows: auto;
  width: 1140px;
  margin: -857px auto 60px;
}

.u-section-5 .u-repeater-1 {
  grid-auto-columns: calc(25% - 18.75px);
  grid-template-columns: repeat(4, calc(25% - 18.75px));
  min-height: 270px;
  grid-gap: 25px;
}

.u-section-5 .u-list-item-1 {
  background-image: none;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-icon-1 {
  height: 59px;
  width: 59px;
  background-image: none;
  margin: 0 auto;
}

.u-section-5 .u-text-3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-5 .u-text-4 {
  font-size: 3.75rem;
  line-height: 1;
  font-weight: 300;
  margin: 27px 0 0;
}

.u-section-5 .u-list-item-2 {
  background-image: none;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-icon-2 {
  height: 59px;
  width: 59px;
  background-image: none;
  margin: 0 auto;
}

.u-section-5 .u-text-5 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-5 .u-text-6 {
  font-size: 3.75rem;
  line-height: 1;
  font-weight: 300;
  margin: 27px 0 0;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-icon-3 {
  height: 59px;
  width: 59px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
}

.u-section-5 .u-text-7 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-5 .u-text-8 {
  font-size: 3.75rem;
  line-height: 1;
  font-weight: 300;
  margin: 27px 0 0;
}

.u-section-5 .u-list-item-4 {
  background-image: none;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px;
}

.u-section-5 .u-icon-4 {
  height: 59px;
  width: 59px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
}

.u-section-5 .u-text-9 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-5 .u-text-10 {
  font-size: 3.75rem;
  line-height: 1;
  font-weight: 300;
  margin: 27px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 {
    min-height: 1099px;
    background-position: 50% 50%;
  }

  .u-section-5 .u-text-1 {
    width: 822px;
    margin-left: calc(((100% - 940px) / 2));
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-5 .u-text-2 {
    margin-left: 139px;
    margin-right: 139px;
  }

  .u-section-5 .u-image-1 {
    height: 633px;
  }

  .u-section-5 .u-list-1 {
    width: 940px;
    margin-top: -775px;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 223px;
  }
}

@media (max-width: 991px) {
  .u-section-5 {
    min-height: 1414px;
  }

  .u-section-5 .u-text-1 {
    width: 720px;
    margin-left: calc(((100% - 720px) / 2));
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-5 .u-text-2 {
    margin-left: calc(((100% - 720px) / 2));
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-5 .u-image-1 {
    height: 689px;
    margin-top: 440px;
  }

  .u-section-5 .u-list-1 {
    width: 720px;
    margin-top: -1065px;
  }

  .u-section-5 .u-repeater-1 {
    grid-auto-columns: calc(50% - 12.5px);
    grid-template-columns: repeat(2, calc(50% - 12.5px));
    min-height: 540px;
  }
}

@media (max-width: 767px) {
  .u-section-5 {
    min-height: 1382px;
  }

  .u-section-5 .u-text-1 {
    width: 540px;
    margin-top: 60px;
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-5 .u-text-2 {
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-5 .u-image-1 {
    height: 679px;
  }

  .u-section-5 .u-list-1 {
    width: 540px;
    margin-top: -1055px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 575px) {
  .u-section-5 {
    min-height: 1919px;
  }

  .u-section-5 .u-text-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-5 .u-text-2 {
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-5 .u-image-1 {
    height: 578px;
    margin-top: 1023px;
  }

  .u-section-5 .u-list-1 {
    width: 340px;
    margin-top: -1536px;
  }

  .u-section-5 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}.u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 639px;
}

.u-section-6 .u-text-1 {
  width: 486px;
  margin: 60px auto 0;
}

.u-section-6 .u-gallery-1 {
  margin-top: 30px;
  margin-bottom: 0;
  height: 375px;
}

.u-section-6 .u-gallery-item-1 {
  margin-right: 10px;
}

.u-section-6 .u-back-image-1 {
  width: 375px;
}

.u-section-6 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-gallery-item-2 {
  margin-right: 10px;
}

.u-section-6 .u-back-image-2 {
  width: 375px;
}

.u-section-6 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-gallery-item-3 {
  margin-right: 10px;
}

.u-section-6 .u-back-image-3 {
  width: 375px;
}

.u-section-6 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-gallery-item-4 {
  margin-right: 10px;
}

.u-section-6 .u-back-image-4 {
  width: 375px;
}

.u-section-6 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-gallery-item-5 {
  margin-right: 10px;
}

.u-section-6 .u-back-image-5 {
  width: 375px;
}

.u-section-6 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-gallery-item-6 {
  margin-right: 10px;
}

.u-section-6 .u-back-image-6 {
  width: 375px;
}

.u-section-6 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-gallery-item-7 {
  margin-right: 10px;
}

.u-section-6 .u-back-image-7 {
  width: 375px;
}

.u-section-6 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-6 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-6 .u-btn-1 {
  margin: 30px auto 60px;
  padding: 17px 101px 18px;
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    width: 340px;
  }
}.u-section-7 {
  background-image: url("images/wr3454-min.jpg");
  background-position: 50% 50%;
}

.u-section-7 .u-sheet-1 {
  min-height: 758px;
}

.u-section-7 .u-group-1 {
  min-height: 525px;
  width: 653px;
  background-image: none;
  margin: 60px 0 60px auto;
}

.u-section-7 .u-container-layout-1 {
  padding: 40px 60px;
}

.u-section-7 .u-text-1 {
  font-weight: 400;
  text-transform: none;
  font-size: 3rem;
  margin: 47px 0 0;
}

.u-section-7 .u-form-1 {
  height: 248px;
  margin-top: 27px;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-7 .u-form-group-1 {
  margin-left: auto;
}

.u-section-7 .u-input-1 {
  font-size: 1.25rem;
}

.u-section-7 .u-form-group-2 {
  margin-left: auto;
}

.u-section-7 .u-input-2 {
  font-size: 1.25rem;
}

.u-section-7 .u-form-group-3 {
  margin-left: auto;
}

.u-section-7 .u-input-3 {
  font-size: 1.25rem;
}

.u-section-7 .u-form-group-4 {
  margin-left: auto;
}

.u-section-7 .u-btn-1 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  margin-left: auto;
  font-size: 1.25rem;
  font-weight: 700;
  width: 100%;
  letter-spacing: 2px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 645px;
  }

  .u-section-7 .u-group-1 {
    width: 554px;
  }

  .u-section-7 .u-form-1 {
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 494px;
  }

  .u-section-7 .u-group-1 {
    width: 426px;
  }

  .u-section-7 .u-container-layout-1 {
    padding: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-7 {
    background-position: 24.88% 44.66%;
    background-size: auto 120%;
  }

  .u-section-7 .u-sheet-1 {
    min-height: 371px;
  }

  .u-section-7 .u-group-1 {
    width: 383px;
  }

  .u-section-7 .u-text-1 {
    font-size: 2.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-7 {
    background-position: 15.14% 71.85%;
  }

  .u-section-7 .u-sheet-1 {
    min-height: 662px;
  }

  .u-section-7 .u-group-1 {
    width: 340px;
    margin-top: 160px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-7 .u-text-1 {
    font-size: 2.375rem;
    width: auto;
  }
}.u-section-8 {
  min-height: 500px;
}

.u-section-8 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px;
}

.u-section-8 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 111px auto 0;
}

.u-section-8 .u-custom-html-1 {
  width: 295px;
  min-height: 118px;
  margin: 30px auto 0;
}

@media (max-width: 1199px) {
  .u-section-8 {
    min-height: 430px;
  }

  .u-section-8 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 330px;
  }
}

@media (max-width: 991px) {
  .u-section-8 {
    min-height: 353px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 253px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 253px;
  }
}

@media (max-width: 767px) {
  .u-section-8 {
    min-height: 860px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 380px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 380px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 {
    min-height: 578px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 239px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 239px;
  }
}